* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body, html {
    height: 100%;
    background-color: #BED8D4;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

header img {
    width: 200px;
    margin-bottom: 20px;
}

.panel {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.file-encryption, .file-decryption {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}

.logoutButton {
    position: absolute;
    top: 20px;
    right: 20px;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

.file-input{
    border: 2px dashed #ccc;
    height: 143px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
}

.file-output {
    border: 2px dashed #ccc;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
}

.file-input p, .file-output p {
    width: 100%;
    text-align: center;
}

input[type="text"], input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.encrypt {
    background-color: #4CAF50;
}

.decrypt {
    background-color: #f44336;
}

.list {
    background-color: #454343;
}

.logout {
    background-color: #ff1100;
    width: auto;
    padding: 10px 20px;
}

.button:hover {
    opacity: 0.8;
}

button:focus {
    outline: none;
}

.drop-zone {
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.drop-zone.dragover {
    border-color: #000;
    background-color: #f0f0f0;
}


@media (max-width: 768px) {
    .panel {
        grid-template-columns: 1fr;
    }
}
