* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body, html {
    height: 100%;
    background-color: #BED8D4;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

header img {
    width: 200px;
    margin-bottom: 20px;
}

.file-encryption, .file-decryption {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

.logoutButton {
    position: absolute;
    top: 20px;
    right: 20px;
}

input[type="text"], input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.decrypt {
    background-color: #f44336;
}

.logout {
    background-color: #ff1100;
    width: auto;
    padding: 10px 20px;
}

.button:hover {
    opacity: 0.8;
}

button:focus {
    outline: none;
}

/* CSS for input fields */
.input-field {
    width: 300px; /* Adjust width to fit container or set a specific width in pixels */
    height: 40px; /* Adjust height to make the input taller if needed */
    padding: 10px; /* Optional: adds padding inside the input field */
    box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
    font-size: 16px; /* Adjust font size if needed */
}

.panel {
    width: 450px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 768px) {
    .panel {
        grid-template-columns: 1fr;
    }
}
